<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="" xmlns="http://www.springframework.org/schema/beans">

    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/jdbc/crudTrain"/>
    </bean>

    <bean id="factory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="packagesToScan">
            <list>
                <value>com.onesystem.crudTrain.db</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <map>
                <entry key="hibernate.dialect" value="org.hibernate.dialect.Oracle12cDialect"></entry>
                <entry key="hibernate.show_sql" value="false"></entry>
                <entry key="hibernate.transaction.factory_class"
                       value="org.hibernate.transaction.JDBCTransactionFactory"></entry>
                <entry key="hibernate.current_session_context_class" value="thread"></entry>
                <entry key="hibernate.generate_statistics" value="false"></entry>
                <entry key="hibernate.jdbc.batch_size" value="20"></entry>
                <entry key="hibernate.connection.release_mode" value="on_close"></entry>
            </map>
        </property>
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
    </bean>

</beans>